<nav class="navbar navbar-expand-md bg-light fixed-top">
  <div class="container justify-content-center">
  <!-- Brand -->
    
  <a class="navbar-brand justify-content-center pointerHand" (click)="hitReset()"><img src="../../../assets/images/logo.png" alt="logo" style="margin-bottom: 0px"></a>

<!--    <a routerLink="/products"><button type="button" class="btn btn-outline-secondary" >Products</button></a>-->
<!--
    <a (click)="showCategories()"><button type="button" class="btn btn-outline-secondary">Categories</button></a>
-->
<!--    <a routerLink="/about"><button type="button" class="btn btn-outline-secondary">About</button></a>-->
<!--    <a (click)="hitReset()"><button type="button" class="btn btn-outline-secondary pointerHand">Reset</button></a>-->
<!--    <a routerLink="/menus"><button type="button" class="btn btn-outline-secondary">Menus</button></a>-->
  </div>
</nav>

